[Unit]
Description=Smartbin IoT Auto-Detection Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Development/smartbin/rasberry-py
# Ganti /home/pi/ dengan username Raspberry Pi Anda jika berbeda
# Jika menggunakan Virtual Environment (venv), ubah path python di bawah ini
ExecStart=/usr/bin/python3 /home/pi/Development/smartbin/rasberry-py/smartbin_iot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
